.logo {
    width : 100px;
    height : 50px;
}

* {
    box-sizing: border-box;
  }
  
  .col {
    border: 1px dotted red;
    float: left;
    position: relative;
    height: 100%;
  }
  
 
  
  #container {
    border: 1px dotted black;
    width: 1024px;
    height: 1000px;
    padding: 20px;
  }
  
  .w30 { width: 30%; }
  .w70 { width: 70%; }
  .h40 { height: 40%; }
  .h20 { height: 20%; }
  .h80 { height: 80%; }

 
  .top_menu li {
      float: left;
      width : 25%;
      list-style: none;
      border: 1px solid #333;
      
  }


  .top_menu {
    float : left;
}


   
   
  ul.tabs{
    margin: 0px;
    padding: 0px;
    list-style: none;
    float: bottom;
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
  }
  ul.tabs li{
    background: none;
    display: inline-block;
    cursor: pointer;
    width: 24%;
    border: 1px solid #ccc;
    background-color: #ddd;
    color: #999;
    padding: 10px;
    text-align : center;
  }

  ul.tabs li.current {
      background-color: #fff;
      color: #000;
      border-bottom: none;
      font-weight: bold;
  }
   
  .tab-content ul {
     padding: 2px;
  }
   
  .menuArea {
    list-style: none;
    width: 23%;
    margin: 5px;
    display: inline-block;
    border:1px solid #ccc;
}

 

      
  .tab-content ul li p{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }

  .tab-content ul li p.drinkPrice {
    font-size: 21px;
  }
   
 
