.logo {
    width : 100px;
    height : 50px;
}

* {
    box-sizing: border-box;
  }
  
  .col {
    border: 1px dotted red;
    float: left;
    position: relative;
    height: 100%;
  }
  
  .row {
    border: 1px dotted blue;
  }
  
  #container {
    border: 1px dotted black;
    width: 1024px;
    height: 1000px;
    padding: 20px;
  }
  
  .w30 { width: 30%; }
  .w70 { width: 70%; }
  .h40 { height: 40%; }
  .h20 { height: 20%; }
  .h80 { height: 80%; }

  .top_menu {
      float : left;
  }

      body{
      margin-top: 100px;
      font-family: 'Trebuchet MS', serif;
      line-height: 1.6
    }
    .container{
      width: 500px;
      margin: 0 auto;
    }
     
     
     
    ul.tabs{
      margin: 0px;
      padding: 0px;
      list-style: none;
    }
    ul.tabs li{
      background: none;
      color: #222;
      display: inline-block;
      padding: 10px 15px;
      cursor: pointer;
    }
     
    ul.tabs li.current{
      background: #ededed;
      color: #222;
    }
     
    .tab-content{
      display: none;
      background: #ededed;
      padding: 15px;
    }
     
    .tab-content.current{
      display: inherit;
    }

    #drink-tap ul li{
      list-style: none;
      display: inline-block;
      float:left;
      width:24%;
      border:1px solid #ccc;
    }